* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'EB Garamond', serif;
}

/* Slider */
#slider {
    position: relative;
    background-image: linear-gradient(#eeaeca, #94bbe9)
}

#slider img {
    width: 100%;
    object-fit: contain;
}

#slider .slider-text {
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.quote-text {
    font-style: italic;
}

/* End Slider */

/* Shop Posts */
.container {
    width: 1200px;
    margin: 0 auto;
}

#shop {
    margin-top: 100px;
    background-color: #FFF5E4;
    padding-bottom: 70px;
    padding-top: 5px;
}

.shop-post {
    display: flex;
    flex-direction: column-reverse;
}


.shop-posts {
    display: flex;
    justify-content: space-around;
}

.shop-post {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.shop-posts-line {
    width: calc(100%/3);
}

.shop-imgs {
    width: 55%;
    height: 55%;
    object-fit: contain;
    border-radius: 10px;
}

.posts-link-bt {
    text-decoration-line: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}

.posts-link-bt:hover {
    text-decoration-line: underline;
}

.shop-imgs {
    transition: transform.1s;
}

.shop-imgs:hover {
    transform: scale(1.05);
}

/* End  Shop Posts */
/* Offer */
.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/* End Offer */
/* Footer */
#footer {
    margin-bottom: 0;
    text-align: center;
    color: gray;
    background-color: black;
    padding: 150px 0;
}

.footer-icons {
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-icon:hover {
    color: rgb(255, 205, 205);
    opacity: 0.7;
}

.power-by {
    color: rgb(255, 205, 205);
}

/* End Footer */